<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Positive News, Media and Stories | The Bright Broadcast</title>
  <meta name="description" content="Your daily dose of Positive News and Media. Earn rewards:TBB Coins for sharing positivity." />
  <meta name="keywords" content="news, positive news app, android app, media, tbb rewards, tbb coins, science, law, music">
  <link rel="manifest" href="manifest.json">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="TBB">
  <meta name="apple-mobile-web-app-title" content="TBB">
  <meta name="theme-color" content="#f3fbf8">
  <meta name="msapplication-navbutton-color" content="#f3fbf8">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="msapplication-starturl" content="/index">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:title" content="TBB - Positive News and Media" />
  <meta property="og:type" content="mobile application">
  <meta property="og:url" content="https://www.mytbb.in" />
  <meta property="og:description" content="Positive News and Media app. Share and Earn rewards: TBB Coins">

  <!-- Favicons -->
  <link href="assets/img/logo.png" rel="icon">
  <link href="assets/img/logo.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
<style> 
    input[type='text'],
textarea,
select {
  margin-bottom: 25px;
  box-shadow: 2px;
  color: black;
  width: 100%;
  padding: 5px;
  margin: 5px;
  height: auto;
  font-size: 15px;
  border-radius: 20px;
}
    button {
  border: none;    
  padding: 5px;
  color: whitesmoke;
  background-color: #febe01;
  font-size: 15px;
  margin: 30px 0px 0px;
  width: 25%;
  text-align: center;
  border-radius: 50px;
}
</style>

</head>

<body>

  <!-- ======= Header ======= -->
  <!-- <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="index.html"><img src="assets/img/bright.png" alt="bright"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#features">Features</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>End Header -->

  <!-- ======= Hero Section ======= -->
  <!-- <section id="hero">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>Become a <span>creator</span></h1>
            <h2>Earn more for content you publish to the Bright Media.</h2>
          </div>
        </div>
        <div class="col-lg-4 order-1 order-lg-2" data-aos="zoom-out" data-aos-delay="300">
          <img src="assets/img/feature1.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section>End Hero -->
  <main id="main">
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Creator</h2>
          <p>Follow the guidelines</p>
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
            <div class="info">
              <div class="address">
                <i class="bi bi-check-lg"></i>
                <h4>Publish</h4>
                <p>Positive news</p>
                <p>Inspiring stories</p>
                <p>Happy media</p>
                <p>New Technology</p>
                <p>About Progressive laws</p>
              </div>

              <div class="phone">
                <i class="bi bi-x-lg"></i>
                <h4>Don't Publish</h4>
                <p>Hate news</p>
                <p>Sad stories</p>
                <p>Stressful images</p>
                <p>About violence</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">
              <input type="text" placeholder="Please enter your Full Name" id="inputName">
              <input type="text" placeholder="Please enter your Email address" id="inputEmail"> 
              <p>Bright will use your email to contact you about your account and to update you about the service. By creating an account you accept all the Bright's <a href="terms">Terms and Conditions.</a></p>
              <div class="text-center"><button onclick="writeUserData()">Become creator</button></div>
            <!-- The core Firebase JS SDK is always required and must be listed first -->
<!-- <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script> -->

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<!-- <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-analytics.js"></script>
<script> -->
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyBBsGF_DOsncoZij-zRM755OtpG8LoKVSc",
    authDomain: "tbbwebsite-1b79c.firebaseapp.com",
    databaseURL: "https://tbbwebsite-1b79c-default-rtdb.firebaseio.com",
    projectId: "tbbwebsite-1b79c",
    storageBucket: "tbbwebsite-1b79c.appspot.com",
    messagingSenderId: "501940823741",
    appId: "1:501940823741:web:8eb7ad2604b69376f3b9d4",
    measurementId: "G-6Z2LR66GJ7"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
var database= firebase.database();



function writeUserData(){
var name=document.getElementById('inputName').value;
var email=document.getElementById('inputEmail').value;
database.ref('Creators/').push().set({
Name:name,
Email:email,
},(error)=>{
if(error){
alert("An error is Occurred");
window.location.reload();
}
else{
alert("Data Saved Successfully");
window.location.reload();
}
});
}
</script>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  <!-- ======= Footer ======= -->
  <!-- <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://mytbb.in/about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://mytbb.in/tbbtoken">TBB Rewards</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://mytbb.in/terms">Terms of Use</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://mytbb.in/privacy">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Features</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="news">Positive News</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="media">Positive Media</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="stories">Inspiring Stories</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="creator">Creators Mode</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="reads">Positive Reads</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Resources</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">F.A.Q</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Bright Store</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Community</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Bright Branding</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Company</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Research</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Careers</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">In the press</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">GitHub</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Blog</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Bright Media</h3>
              <p class="pb-3"><em>Spreading happiness and positivity.</em></p>
              <p>
                Share your story,<br>
                news or positive media<br>
                <a href="mailto:story@mytbb.in"><strong>Email:</strong> story@mytbb.in</a><br>
              </p>
              <div class="social-links mt-3">
                <a href="https://www.twitter.com/thebrightbroadcast" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/thebrightbroadcast" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/thebrightbroadcast" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>TBB</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyDc_Slru4aZtwlefN2VyTmRBXh8cIlvHp4",
    authDomain: "tbbwebsite-ad242.firebaseapp.com",
    databaseURL: "https://tbbwebsite-ad242-default-rtdb.firebaseio.com",
    projectId: "tbbwebsite-ad242",
    storageBucket: "tbbwebsite-ad242.appspot.com",
    messagingSenderId: "1008320966454",
    appId: "1:1008320966454:web:71196b7751ac707924cd97",
    measurementId: "G-V5BWN2TVZN"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>

</body>

</html>